/* Panels */

.panel.card {
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.card-container {
    padding-left: 0px;
}

.card-container .card-link {
    text-decoration: none;
}

.card .panel-heading {
    padding: 0px;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: #336699;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .card-heading-left {
    width: 90%;
    padding-left: 30px;
    border: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    vertical-align: bottom;
    border-top-left-radius: 5px;
}

.card .card-heading-left > p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.card .card-heading-right {
    width: 10%;
    border: none;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
}

.card .card-heading-right > span {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    color: #ffbf51;
    
}

.card:hover .card-heading-right > span {
    color: #ff6851;
}

.card .panel-body {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    background-color: transparent;
}

.card .card-body-left {
    width: 90%;
    border: none;
    border-right: 1px solid #999;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

/* icon */
.card .card-body-left > span {
    width: 20%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

/* description */
.card .card-body-left > p {
    width: 80%;
    border: none;
    font-size: 12px;
    padding: 20px;
    margin:  0px;
    color: black;
}

/* empty */
.card .card-body-right {
    width: 10%;
    border: none;
}
