.navbar,
.navbar .container {
    background-color: #152B55;
    border-radius: 0px;
    min-height: 60px;
}

.navbar-brand,
.navbar-brand > img {
    background-color: #152B55;
    width: 60px;
    padding: 0px;
    margin: 0px;
}