/* tabs  &  details */

.section-body {
    display: flex;
    min-height: 500px;
    overflow-x: scroll;
    background: transparent;
}

.tab-menu {
    /* background-color: rgba(225, 225, 225, 0.1); */
    /* background-color: white; */
    /* border: 2px solid #336699; */
    background-color: rgba(51, 102, 153, 0.5);
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.tab-menu li.tab-item {
    border-radius: 0px;
}

.tab-menu li.tab-item a {
    border-radius: 0px;
    color: white;
}

.tab-menu li.tab-item:hover a {
    color: #336699;
}

.tab-menu li.tab-item+li.tab-item {
    /* background-color:  */
    margin: 0px;
}

.tab-menu li.tab-item.active a,
.tab-menu li.tab-item.active a:focus,
.tab-menu li.tab-item.active a:hover {
    color: white;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: rgba(225, 225, 225, 0.1); */
    /* background-color: rgb(51, 102, 153); */
    background-color: #446280;
}

.tab-details {
    padding: 0px;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #446280;
}

.details {
    background-color: #f1f1f1;
    background-color: rgba(225, 225, 225, 0.1);
    width: 100%;
}

.back-icon {
    /* -ms-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1); */
    font-size: 25px;
    color: #ffbf51;
    cursor: pointer;
    text-decoration: none;
}

.back-icon:hover {
    color: #ff6851;
    text-decoration: none;
}

.section-header {
    background: transparent;
    width: 90%;
    margin: 0px auto;
    padding-top: 30px;
}

.section-detail {
    width: 90%;
    margin: 0px auto;
    background-color: #d1d1d1;
}

.divider-90 {
    width: 90%;
}

ul.detail-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.detail-list li.detail-item {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0px auto;
}

ul.detail-list li.detail-item+li.detail-item {
    /* border: 1px solid green; */
    margin-top: 20px;
    /* border-top: yellow; */
}

/* NEW */

/* ul.tab-menu > li.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
} */