<div class="col-md-6 card-container">
    <a class="card-link" href="<%= card.link %>">
        <div class="panel panel-info card">

            <div class="panel-heading">
                <div class="card-heading-left">
                    <p>
                        <%= card.name %>
                    </p>
                </div>
                <div class="card-heading-right">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>


            <div class="panel-body">
                <div class="card-body-left">
                    <span class="<%= card.icon %>"></span>
                    <p>
                        <%= card.desc %>
                    </p>
                </div>
                <div class="card-body-right"></div>
            </div>
        </div>
    </a>
</div>