<div class="container-education" id="education">
    <img class="education-background" src="../images/note.png"></img>
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Education</h1>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:25px">
            <div class="col-xs-5" style="text-align:center">
                <img src="../images/sb_logo.png" alt="" height="60px">

                <div class="cs-major">
                    Computer Science Major
                </div>

                <div class="cs">
                    Java
                </div>

                <div class="cs">
                    Assembly
                </div>

                <div class="cs">
                    C Programming
                </div>

            </div>

            <div class="col-xs-2"></div>

            <div class="col-xs-5" style="text-align:center">
                <img src="../images/udemy_logo.svg" alt="" height="60px">
           
                <div class="cs-major">
                    Web Specialization
                </div>

                <div class="cs">
                    Node JS
                </div>

                <div class="cs">
                    JavaScript
                </div>

                <div class="cs">
                    Angular JS
                </div>

                
            </div>
            

        </div>


    </div>
</div>

        

        