<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a id="goto-home">Home</a></li>
            <li><a id="goto-education">Education</a></li>
            <li><a id="goto-skills">Skills</a></li>
            <li><a id="goto-experience">Experience</a></li>
            <li><a id="goto-contact">Contact Me</a></li>
        </ul>
    </div>
</nav>