<div class="col-md-6 card-container">
    <div class="panel panel-info card">


        <div class="panel-heading">
            <div class="card-heading-left">
                <p>Heading</p>
            </div>
            <div class="card-heading-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>         
        </div>


        <div class="panel-body"></div>
    </div>
</div>