<div class="container-skills" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <i class="devicon-html5-plain-wordmark"></i>
                <div><span class="stars-container stars-50">★★★★★</span></div>
            </div>
            <div class="col-xs-6">
                <div><span class="stars-container stars-100">★★★★★</span></div>
            </div>
        </div>

        <div class="row" style="height: 200px;"></div>

    </div>
</div>