<div class="tab-details col-md-9">
    
    <div class="details">

        <!-- section header -->
        <div class="section-header">
            <span class="glyphicon glyphicon-arrow-left back-icon"></span>
        </div>

        <hr class="divider">

        <div class="section-detail">
            <ul class="detail-list">

                <li class="detail-item">

                    <h2>heading</h2>

                    <p>loren ipsum lfa fnsakjfne nf ksanf jdnaskf jask</p>

                    <hr class="divider">
                </li>

                <li class="detail-item">
                    item 2
                    <hr class="divider">
                </li>

                <li class="detail-item">
                     item 3
                </li>

            </ul>
        </div>

    </div>

</div>