<ul class="tab-menu nav nav-pills nav-stacked col-md-3">
    <li class="tab-item active"><a href="#a" data-toggle="tab">1</a></li>
    <li class="tab-item"><a href="#b" data-toggle="tab">2</a></li>
    <li class="tab-item"><a href="#c" data-toggle="tab">3</a></li>
</ul>