<ul class="tab-menu nav nav-pills nav-stacked col-md-3">
    <li class="tab-item active"><a href="#a" data-toggle="tab">1</a></li>
    <li class="tab-item"><a href="#b" data-toggle="tab">2</a></li>
    <li class="tab-item"><a href="#c" data-toggle="tab">3</a></li>
</ul>

<!-- <ul class="list-group tab-menu">
    <li class="list-group-item active text-center">
        <h3>apple</h3>
    </li>
    <li class="list-group-item text-center">
        <h3>peach</h3>
    </li>
    <li class="list-group-item text-center">
        <h3>melon</h3>
    </li>
</ul> -->