<html>
    <head>
        <% include ../partial/head %>
    </head>
    <body id="main-container">
        <% include ../partial/navbar %>

        <% include ../partial/home %>

        <% include ../partial/education %>

        <% include ../partial/skills %>
        
            
    </body>
</html>