<html>
    <head>
        <% include ../partial/head %>
    </head>
    <body id="main-container">
        <% include ../partial/navbar %>

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    this is span 61
                </div>
                <div class="col-md-3">
                    span 
                </div>
            </div>

            <div class="row">
                row
            </div>

        </div>

    </body>
</html>