<html>
    <head>
        <% include ../partial/head %>
    </head>
    <body id="main-container">
        <% include ../partial/navbar %>

        <div class="container">
            <div class="row">
                    <% cards.forEach(function(card){ %>
                        <%- include('../partial/card', {card: card}); %>
                    <% }); %>
            </div>

        </div>

    </body>
</html>