<html>
    <head>
        <% include ../partial/head %>
    </head>
    <body id="main-container">
        <% include ../partial/navbar %>

        <div class="container">
            <div class="row">
                    <% include ../partial/panel %>
                    <% include ../partial/panel %>
                    <% include ../partial/panel %>
                    <% include ../partial/panel %>
            </div>

        </div>

    </body>
</html>