<html>

<head>
    <% include ../partial/head %>
</head>

<body id="main-container">
    <% include ../partial/navbar %>



    <div class="container">
        <div class="row section-body">

            <!-- col-md-3 -->
            <% include ../partial/tab-menu %>

            <!-- col-md-9 -->
            <% include ../partial/tab-details %>

        </div>
    </div>

</body>

</html>